Para conectarnos a `MySQL`, necesitaremos 2 librerías de Python
1. `sqlalchemy` : para instalar ejecutamos `pip install sqlalchemy`
2. `mysql-python-conector`: para instalar ejecutamos `pip installmysql-connector-python`

In [5]:
!pip install sqlalchemy
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/site-packages (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (3.0.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp39-cp39-manylinux_2_17_aarch64.whl (21.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.1/21.1 MB 4.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /usr/local/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.9/site-packages (from pandas) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

importamos las librerías

In [6]:
import sqlalchemy as db

crearemos la clase ConnectionMySQL de conexión a MySQL

In [10]:
# este es el fichero para conectarnos a MySQL
class ConexionMySQL():
    def __init__(self, bd_servidor,bd_nombre,bd_usuario,bd_contrasenia):
        self.bd_servidor=bd_servidor
        self.bd_nombre=bd_nombre
        self.bd_usuario=bd_usuario
        self.bd_contrasenia=bd_contrasenia

    ## Función de conexión a MySQL
    def conectarMySQL(self):
        engine = db.create_engine(f"mysql+mysqlconnector://{self.bd_usuario}:{self.bd_contrasenia}@{self.bd_servidor}:3310/{self.bd_nombre}")
        conn=engine.connect()
        return conn

import pandas as pd

In [11]:
import pandas as pd

## Cargar datos a dimMovie

Crearemos el objeto para conectarnos a la base de datos `db_movies_netflix_transact`, proporcionando nuestras credenciales.

In [13]:
#ConexionMySQL
## creando el objeto de la clase ConnetionMysql
db_movies_netflix_transact= ConexionMySQL(
                            "192.168.18.6",            ## Servidor
                            "db_movies_netflix_transact",   ## base de datos
                            "root",                 ## usuario
                            "root"                 ## contraseña
                            )

## llamar a la funcion de conexión a la base de datos
conn_movies_netflix_transact=db_movies_netflix_transact.conectarMySQL()

Extraeremos datos de la base de datos transaccional sobre las películas

In [14]:
"""
//query utilizado para extraer datos de las peliculas de la base transact


USE db_movies_netflix_transact;
SELECT movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant FROM movie 
INNER JOIN participant 
ON movie.movieID=participant.movieID
INNER JOIN person
ON person.personID = participant.personID
INNER JOIN movie_gender 
ON movie.movieID = movie_gender.movieID
INNER JOIN gender 
ON movie_gender.genderID = gender.genderID

"""

'\n//query utilizado para extraer datos de las peliculas de la base transact\n\n\nUSE db_movies_netflix_transact;\nSELECT movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant FROM movie \nINNER JOIN participant \nON movie.movieID=participant.movieID\nINNER JOIN person\nON person.personID = participant.personID\nINNER JOIN movie_gender \nON movie.movieID = movie_gender.movieID\nINNER JOIN gender \nON movie_gender.genderID = gender.genderID\n\n'

In [17]:
movies_data=pd.read_sql('SELECT movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant FROM movie  INNER JOIN participant  ON movie.movieID=participant.movieID INNER JOIN person ON person.personID = participant.personID INNER JOIN movie_gender  ON movie.movieID = movie_gender.movieID INNER JOIN gender  ON movie_gender.genderID = gender.genderID', con=conn_movies_netflix_transact) 
movies_data["movieID"]=movies_data["movieID"].astype('int')
movies_data

,movieID,title,releaseDate,gender,participantName,roleparticipant
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director

Este dato lo unimos con el award de la pelicula, porque son los premios que ganaron

In [20]:
movies_award=pd.read_csv("../data/Awards_movie.csv")
movies_award["movieID"]=movies_award["movieID"].astype('int')
movies_award.rename(columns={"Aware":"Award"}, inplace=True)
movies_award

    movieID  IdAward   Award
0  80210920        0   Oscar
1  81157374        1  Grammy
2  80192187        2   Oscar

In [21]:
movie_data=pd.merge(movies_data,movies_award, left_on="movieID", right_on="movieID")
movie_data

,movieID,title,releaseDate,gender,participantName,roleparticipant,IdAward,Award
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy

Insertamos estos valores en la tabla movies del datawarehouse

In [40]:
from sqlalchemy import create_engine, MetaData, Table, Date
from sqlalchemy.orm import sessionmaker
from datetime import date

# Replace these values with your actual database connection details
DATABASE_URL = "mysql+mysqlconnector://root:root@192.168.18.6:3310/dw_netflix"

engine = create_engine(DATABASE_URL)

metadata = MetaData()

In [41]:


dimMovie= Table('dimMovie', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,movie in movie_data.iterrows():
    # Sample data to insert
    data_to_insert = {
        "movieID": movie["movieID"],
        "title": movie["title"],
        "releaseMovie": movie["releaseDate"],
        "gender": movie["gender"],
        "participantName": movie["roleparticipant"],
        "roleparticipant": movie["roleparticipant"],
        "awardMovie": movie["Award"],

    }

    try:
        # Insert data into the table
        ins = dimMovie.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

Error: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '80192187' for key 'dimMovie.PRIMARY'
[SQL: INSERT INTO `dimMovie` (`movieID`, title, `releaseMovie`, gender, `participantName`, roleparticipant, `awardMovie`) VALUES (%(movieID)s, %(title)s, %(releaseMovie)s, %(gender)s, %(participantName)s, %(roleparticipant)s, %(awardMovie)s)]
[parameters: {'movieID': 80192187, 'title': 'Triple Frontier', 'releaseMovie': datetime.date(2019, 4, 12), 'gender': 'Action', 'participantName': 'Actor', 'roleparticipant': 'Actor', 'awardMovie': 'Oscar'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Error: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '80210920' for key 'dimMovie.PRIMARY'
[SQL: INSERT INTO `dimMovie` (`movieID`, title, `releaseMovie`, gender, `participantName`, roleparticipant, `awardMovie`) VALUES (%(movieID)s, %(title)s, %(releaseMovie)s, %(gender)s, %(participantName)s, %(roleparticipant)s, %(awardMovie)s)]
[parameters: {'movieID': 80210920, 'title': 'The Mother', 'releaseMovie': datetime.date(2023, 1, 5), 'gender': 'Drama', 'participantName': 'Actor', 'roleparticipant': 'Actor', 'awardMovie': 'Oscar'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Error: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '81157374' for key 'dimMovie.PRIMARY'
[SQL: INSERT INTO `dimMovie` (`movieID`, title, `releaseMovie`, gender, `participantName`, roleparticipant, `awardMovie`) VALUES (%(movieID)s, %(title)s, %(releaseMovie)s, %(gender)s, %(participantName)s, %(roleparticipant)s, %(awardMovie)s)]
[parameters: {'movieID': 81157374, 'title': 'Run', 'releaseMovie': datetime.date(2021, 5, 21), 'gender': 'Adventure', 'participantName': 'Director', 'roleparticipant': 'Director', 'awardMovie': 'Grammy'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

## Insertamos valores para dimUser, extrayendo los datos del csv de usuarios

In [42]:
users=pd.read_csv("../data/users.csv", sep='|')
users

      idUser     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [43]:
users["subscription"]

0     Premium
1       Basic
2     Premium
3       Basic
4     Premium
5       Basic
6     Premium
7       Basic
8     Premium
9       Basic
10    Premium
11      Basic
12    Premium
13      Basic
14    Premium
15      Basic
16    Premium
17      Basic
18    Premium
19      Basic
Name: subscription, dtype: object

Para los usuarios solo necesitaremos los Ids

Insertamos al datawarehouse

In [44]:
dimUser= Table('dimUser', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,user in users.iterrows():
    # Sample data to insert
    data_to_insert = {
        "userID": user["idUser"],
        "username": user["username"],
        "country": user["country"],
        "subscription": user["subscription"]
    }

    try:
        # Insert data into the table
        ins = dimUser.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6aeb9970>
se envió el commit a la base  de datos

## Insertar datos a la tabla de Hechos

Para ello vamos a crear nuestra estructura en base a la base de datos ratings.csv.

- recordar que necesitamos 4 columnas:
1. idUser	
2. movieID	
3. rating	
4. timestamp

Vamos a generar aleatoriamente los datos la vista de un usuario sobre las películas

In [45]:
users_id=users["idUser"]
movies_id=movies_data["movieID"]

In [46]:
watchs_data=pd.merge(users_id,movies_id, how="cross")

In [47]:
import random
from datetime import datetime, timedelta
import random

def gen_rating():
    # Generar un número aleatorio entre 0 y 5 con 1 solo decimal
    numero_aleatorio = round(random.uniform(0, 5), 1)
    # Mostrar el número aleatorio
    return numero_aleatorio

def gen_timestamp():
    # Generar un timestamp aleatorio dentro de un rango específico
    start_date = datetime(2024, 1, 15)
    end_date = datetime(2024, 2, 12)

    # Calcular un valor aleatorio entre start_date y end_date
    random_date = start_date + timedelta(seconds=random.randint(0, int((end_date - start_date).total_seconds())))

    # Mostrar el timestamp aleatorio
    return random_date

In [48]:
watchs_data["rating"]=watchs_data["movieID"].apply(lambda x: gen_rating())
watchs_data["timestamp"]=watchs_data["idUser"].apply(lambda x: gen_timestamp())

In [49]:
watchs_data

      idUser   movieID  rating           timestamp
0    1002331  80192187     3.0 2024-01-30 05:44:25
1    1002331  80210920     0.6 2024-02-11 00:44:48
2    1002331  81157374     1.7 2024-01-26 01:57:34
3    1002332  80192187     1.3 2024-02-03 04:18:20
4    1002332  80210920     3.0 2024-01-16 07:43:13
5    1002332  81157374     0.6 2024-02-04 17:47:05
6    1002333  80192187     4.9 2024-02-03 14:59:35
7    1002333  80210920     3.8 2024-02-07 03:44:13
8    1002333  81157374     2.9 2024-01-17 19:31:36
9    1002334  80192187     2.8 2024-01-23 15:52:00
10   1002334  80210920     4.2 2024-02-02 18:28:39
11   1002334  81157374     3.5 2024-02-06 17:59:42
12   1002335  80192187     2.6 2024-02-11 09:14:48
13   1002335  80210920     4.2 2024-01-29 11:51:45
14   1002335  81157374     0.8 2024-02-08 09:14:35
15   1002336  80192187     0.7 2024-01-18 05:50:20
16   1002336  80210920     2.0 2024-01-18 04:52:29
17   1002336  81157374     4.0 2024-02-04 07:17:04
18   1002337  80192187     2.1 2024-01-27 05:46:12
19   1002337  80210920     0.5 2024-01-24 10:24:33
20   1002337  81157374     0.3 2024-02-01 20:58:16
21   1002338  80192187     3.9 2024-01-23 16:53:38
22   1002338  80210920     3.2 2024-01-22 22:12:29
23   1002338  81157374     3.5 2024-02-04 08:07:02
24   1002339  80192187     2.3 2024-02-11 13:31:20
25   1002339  80210920     1.9 2024-01-22 07:58:55
26   1002339  81157374     1.1 2024-01-27 05:57:05
27  10023310  80192187     0.7 2024-01-28 20:26:32
28  10023310  80210920     0.9 2024-01-15 13:50:08
29  10023310  81157374     0.3 2024-01-21 06:30:05
30  10023311  80192187     1.9 2024-01-30 16:49:33
31  10023311  80210920     3.3 2024-01-20 09:50:26
32  10023311  81157374     2.1 2024-02-04 20:32:39
33  10023312  80192187     3.9 2024-02-01 17:26:34
34  10023312  80210920     4.0 2024-01-31 20:29:50
35  10023312  81157374     3.6 2024-01-22 22:10:05
36  10023313  80192187     4.8 2024-01-16 13:14:39
37  10023313  80210920     4.5 2024-01-29 05:36:01
38  10023313  81157374     0.3 2024-01-24 16:04:19
39  10023314  80192187     3.4 2024-01-16 21:04:31
40  10023314  80210920     3.6 2024-01-26 09:48:46
41  10023314  81157374     2.8 2024-01-30 05:37:59
42  10023315  80192187     0.9 2024-01-21 05:15:41
43  10023315  80210920     3.1 2024-02-10 07:40:23
44  10023315  81157374     0.9 2024-02-05 14:29:55
45  10023316  80192187     0.2 2024-01-27 09:12:58
46  10023316  80210920     4.0 2024-01-30 14:40:02
47  10023316  81157374     3.4 2024-01-21 22:33:52
48  10023317  80192187     3.2 2024-01-22 06:46:39
49  10023317  80210920     3.9 2024-01-24 17:34:09
50  10023317  81157374     1.1 2024-01-22 13:05:10
51  10023318  80192187     3.1 2024-02-02 14:45:51
52  10023318  80210920     0.0 2024-01-17 09:40:35
53  10023318  81157374     2.0 2024-02-09 01:56:37
54  10023319  80192187     1.0 2024-01-17 06:30:36
55  10023319  80210920     3.0 2024-01-30 22:36:55
56  10023319  81157374     4.7 2024-01-19 00:41:01
57  10023320  80192187     1.5 2024-02-05 06:50:37
58  10023320  80210920     1.2 2024-01-28 02:44:09
59  10023320  81157374     3.3 2024-01-15 16:29:30

Cargar los datos a la tabla de hechos

In [50]:
FactWatchs= Table('FactWatchs', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,watch in watchs_data.iterrows():
    # Sample data to insert
    data_to_insert = {
        "userID": watch["idUser"],
        "movieID": watch["movieID"],
        "rating": watch["rating"],
        "timestamp": watch["timestamp"],
    }

    try:
        # Insert data into the table
        ins = FactWatchs.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff6af01ca0>
se envió el commit a la base  de datos