In [1]:
import pandas as pd

# Lista de listas
data = [['Juan', 25], ['María', 30], ['Pedro', 35]]

# Crear un DataFrame
df = pd.DataFrame(data, columns=['Nombre', 'Edad'])

print(df)

  Nombre  Edad
0   Juan    25
1  María    30
2  Pedro    35

In [2]:
import pandas as pd

# Diccionario
data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}

# Crear un DataFrame
df = pd.DataFrame(data)

print(df)

  Nombre  Edad
0   Juan    25
1  María    30
2  Pedro    35

In [3]:
import pandas as pd

# Lista de tuplas
data = [('Juan', 25), ('María', 30), ('Pedro', 35)]

# Crear un DataFrame
df = pd.DataFrame(data, columns=['Nombre', 'Edad'])

print(df)

  Nombre  Edad
0   Juan    25
1  María    30
2  Pedro    35

In [4]:
import pandas as pd

# Leer un archivo CSV en un DataFrame
df = pd.read_csv('./data/data.csv')

print(df)

  nombre  edad     ciudad
0   Juan    25     Madrid
1  María    30  Barcelona
2  Pedro    35    Sevilla

In [39]:
import pandas as pd

# Leer un archivo CSV en un DataFrame
df = pd.read_csv('./data/data', sep='|')

print(df)

  nombre  edad     ciudad
0   Juan   NaN     Madrid
1  María  30.0  Barcelona
2  Pedro  35.0    Sevilla

In [11]:
import pandas as pd

# Leer un archivo CSV en un DataFrame
df = pd.read_csv('./data/data_without_header', sep=',', header=None, names=["nombre", "edad", "ciudad"])

print(df)

  nombre  edad     ciudad
0   Juan    25     Madrid
1  María    30  Barcelona
2  Pedro    35    Sevilla

In [12]:
import pandas as pd

# Cargar el archivo JSON en un DataFrame
df = pd.read_json('./data/data.json')

print(df)

  nombre  edad     ciudad
0   Juan    25     Madrid
1  María    30  Barcelona
2  Pedro    35    Sevilla

In [18]:
import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35],
        'Ciudad': ['Madrid', 'Barcelona', 'Sevilla']}

df = pd.DataFrame(data)

# Obtener las primeras filas del DataFrame
print(df.head(1))

# Obtener información sobre las columnas
print(df.columns)

# Obtener información sobre el índice
print(df.index)

# Obtener estadísticas descriptivas
print(df.describe())

  Nombre  Edad  Ciudad
0   Juan    25  Madrid
Index(['Nombre', 'Edad', 'Ciudad'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
       Edad
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [20]:
print(df.tail(1))

  Nombre  Edad   Ciudad
2  Pedro    35  Sevilla

In [24]:
import pandas as pd

df = pd.DataFrame(data)

# Seleccionar una columna
print(df['Nombre'])
print('\n \n')
# Seleccionar varias columnas
print(df[['Nombre', 'Edad']])

0     Juan
1    María
2    Pedro
Name: Nombre, dtype: object



  Nombre  Edad
0   Juan    25
1  María    30
2  Pedro    35

In [25]:
# Seleccionar una fila por índice
print(df.loc[0])

# Seleccionar varias filas por índices
print(df.loc[[0, 2]])

# Seleccionar datos por condición
print(df[df['Edad'] > 25])

Nombre      Juan
Edad          25
Ciudad    Madrid
Name: 0, dtype: object
  Nombre  Edad   Ciudad
0   Juan    25   Madrid
2  Pedro    35  Sevilla
  Nombre  Edad     Ciudad
1  María    30  Barcelona
2  Pedro    35    Sevilla

In [28]:
# Agrupar datos y calcular estadísticas

import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Grupo': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Valor': [10, 20, 15, 25, 12, 18]}
df = pd.DataFrame(data)

# Calcular el promedio por grupo
promedio_por_grupo = df.groupby('Grupo').mean()
print(promedio_por_grupo)

print('\n \n Calcular la suma por grupo')
suma_por_grupo = df.groupby('Grupo').sum()
print(suma_por_grupo)

           Valor
Grupo
A      12.333333
B      21.000000


 Calcular la suma por grupo
       Valor
Grupo
A         37
B         63

In [33]:
# Unir DataFrames (Merge)
import pandas as pd

# Crear dos DataFrames de ejemplo
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'clave': ['K0', 'K1', 'K2', 'K3']})
df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3'],
                    'clave': ['K0', 'K5', 'K2', 'K4']})

print(df1.head())

print('\n')
print(df2.head())
print('\n')
# Unir los DataFrames por la columna 'clave'
resultado = pd.merge(df1, df2, on='clave')
print(resultado)

    A   B clave
0  A0  B0    K0
1  A1  B1    K1
2  A2  B2    K2
3  A3  B3    K3


    C   D clave
0  C0  D0    K0
1  C1  D1    K5
2  C2  D2    K2
3  C3  D3    K4


    A   B clave   C   D
0  A0  B0    K0  C0  D0
1  A2  B2    K2  C2  D2

In [38]:
# Manejo de datos faltantes (Missing Data)
import pandas as pd
import numpy as np

# Crear un DataFrame de ejemplo con datos faltantes
df = pd.DataFrame({'A': [1, 2, np.nan, 4],
                   'B': [5, np.nan, np.nan, 8],
                   'C': ['a', 'b', np.nan, 'd']})

print(df.head())
print('\n')
# Eliminar filas con datos faltantes
df_sin_na = df.dropna()
print(df_sin_na)

print('\n')

# Llenar valores faltantes con un valor específico
df_lleno = df.fillna(value='0')
print(df_lleno)

     A    B    C
0  1.0  5.0    a
1  2.0  NaN    b
2  NaN  NaN  NaN
3  4.0  8.0    d


     A    B  C
0  1.0  5.0  a
3  4.0  8.0  d


     A    B  C
0  1.0  5.0  a
1  2.0    0  b
2    0    0  0
3  4.0  8.0  d

In [ ]:
def suma(a;b):
    return a+b

In [40]:
# Aplicar funciones a columnas o filas
import pandas as pd

# Crear un DataFrame de ejemplo
df = pd.DataFrame({'A': [1, 2, 3, 4],
                   'B': [5, 6, 7, 8]})
print(df.head())
print('\n')
# Aplicar una función a cada elemento de una columna
df['A_doble'] = df['A'].apply(lambda x: x * 2)
print(df)

print('\n')
# Aplicar una función a cada fila
df['suma'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
print(df)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8


   A  B  A_doble
0  1  5        2
1  2  6        4
2  3  7        6
3  4  8        8


   A  B  A_doble  suma
0  1  5        2     6
1  2  6        4     8
2  3  7        6    10
3  4  8        8    12