In [1]:
from io import StringIO
import pandas as pd
import os
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [ ]:
engine = db.create_engine("mysql://root:root@192.168.18.6:3310/retail_db")
conn = engine.connect()

In [ ]:
customers_df = pd.read_sql_query(text('SELECT * FROM customers'), con=conn)
customers_df.head()

In [1]:
from pymongo import MongoClient
from pandas import DataFrame

def get_database():

    CONNECTION_STRING = "mongodb+srv://m001-student:Bd8trinRHEJbV4a2@sandbox.okkbl.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)

    return client['retail_db']

In [2]:
dbname = get_database()
 
# Create a new collection
collection_name = dbname["customers"]
customers = collection_name.find({})

customers

In [3]:
df_customers = DataFrame(customers)

df_customers.head()

,_id,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,647fdfa7c7b248333ac5ab97,36,Michelle,Carey,XXXXXXXXX,XXXXXXXXX,6336 Fallen Village,Caguas,PR,00725
1,647fdfa7c7b248333ac5ab74,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
2,647fdfa7c7b248333ac5ab79,6,Mary,Smith,XXXXXXXXX,XXXXXXXXX,3151 Sleepy Quail Promenade,Passaic,NJ,07055
3,647fdfa7c7b248333ac5ab78,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725
4,647fdfa7c7b248333ac5ab89,22,Joseph,Smith,XXXXXXXXX,XXXXXXXXX,7740 Broad Fox Villas,North Bergen,NJ,07047