In [1]:
import pandas as pd
import psycopg2
from datetime import datetime, timedelta

# Crear un DataFrame de fechas desde una fecha inicial hasta una fecha final
fecha_inicial = datetime(2020, 1, 1)
fecha_final = datetime(2025, 12, 31)
delta = timedelta(days=1)
fechas = []
while fecha_inicial <= fecha_final:
    fechas.append(fecha_inicial)
    fecha_inicial += delta

# Convertir la lista de fechas en un DataFrame
df_fechas = pd.DataFrame(fechas, columns=['fecha'])

# Extraer información de las fechas
df_fechas['año'] = df_fechas['fecha'].dt.year
df_fechas['trimestre'] = df_fechas['fecha'].dt.quarter
df_fechas['mes'] = df_fechas['fecha'].dt.month
df_fechas['semana'] = df_fechas['fecha'].dt.isocalendar().week
df_fechas['día'] = df_fechas['fecha'].dt.day
df_fechas['día_semana'] = df_fechas['fecha'].dt.isocalendar().day
df_fechas['día_nombre'] = df_fechas['fecha'].dt.day_name()
df_fechas['mes_nombre'] = df_fechas['fecha'].dt.month_name()

print("Dimensión de tiempo creada exitosamente.")

Dimensión de tiempo creada exitosamente.

In [2]:
df_fechas

,fecha,año,trimestre,mes,semana,día,día_semana,día_nombre,mes_nombre
0,2020-01-01,2020,1,1,1,1,3,Wednesday,January
1,2020-01-02,2020,1,1,1,2,4,Thursday,January
2,2020-01-03,2020,1,1,1,3,5,Friday,January
3,2020-01-04,2020,1,1,1,4,6,Saturday,January
4,2020-01-05,2020,1,1,1,5,7,Sunday,January
...,...,...,...,...,...,...,...,...,...
2187,2025-12-27,2025,4,12,52,27,6,Saturday,December
2188,2025-12-28,2025,4,12,52,28,7,Sunday,December
2189,2025-12-29,2025,4,12,1,29,1,Monday,December
2190,2025-12-30,2025,4,12,1,30,2,Tuesday,December
2191,2025-12-31,2025,4,12,1,31,3,Wednesday,December