Para conectarnos a `MySQL`, necesitaremos 2 librerías de Python
1. `sqlalchemy` : para instalar ejecutamos `pip install sqlalchemy`
2. `mysql-python-conector`: para instalar ejecutamos `pip installmysql-connector-python`

In [24]:
!pip install sqlalchemy
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/site-packages (2.0.27)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (4.9.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.9/site-packages (8.3.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /usr/local/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.9/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

importamos las librerías

In [27]:
import sqlalchemy as db
import pandas as pd

crearemos la clase ConnectionMySQL de conexión a MySQL

In [28]:
# este es el fichero para conectarnos a MySQL
class ConexionMySQL():
    """ 
    parametros:
    a
    b
    c
    """
    def __init__(self, bd_servidor,bd_nombre,bd_usuario,bd_contrasenia):
        self.bd_servidor=bd_servidor
        self.bd_nombre=bd_nombre
        self.bd_usuario=bd_usuario
        self.bd_contrasenia=bd_contrasenia

    ## Función de conexión a MySQL
    def conectarMySQL(self):
        engine = db.create_engine(f"mysql+mysqlconnector://{self.bd_usuario}:{self.bd_contrasenia}@{self.bd_servidor}:3310/{self.bd_nombre}")
        conn=engine.connect()
        return conn

import pandas as pd

## Cargar datos a dimMovie

Crearemos el objeto para conectarnos a la base de datos `db_movies_netflix_transact`, proporcionando nuestras credenciales.

In [29]:
#ConexionMySQL
## creando el objeto de la clase ConnetionMysql
db_movies_netflix_transact= ConexionMySQL(
                            "192.168.18.6",            ## Servidor
                            "db_movies_netflix_transact",   ## base de datos
                            "root",                 ## usuario
                            "root"                 ## contraseña
                            )

## llamar a la funcion de conexión a la base de datos
conn_movies_netflix_transact=db_movies_netflix_transact.conectarMySQL()

Extraeremos datos de la base de datos transaccional sobre las películas

In [34]:
query = """
SELECT 
    movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, 
    gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant 
FROM movie 
INNER JOIN participant 
ON movie.movieID=participant.movieID
INNER JOIN person
ON person.personID = participant.personID
INNER JOIN movie_gender 
ON movie.movieID = movie_gender.movieID
INNER JOIN gender 
ON movie_gender.genderID = gender.genderID
"""

In [36]:
movies_data=pd.read_sql(query, con=conn_movies_netflix_transact) 
movies_data["movieID"]=movies_data["movieID"].astype('int')
movies_data

,movieID,title,releaseDate,gender,participantName,roleparticipant
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director

Este dato lo unimos con el award de la pelicula, porque son los premios que ganaron

In [39]:
movies_award=pd.read_csv("../data/Awards_movie.csv")
movies_award["movieID"]=movies_award["movieID"].astype('int')
movies_award.rename(columns={"Aware":"Award"}, inplace=True)
movies_award

    movieID  IdAward   Award
0  80210920        0   Oscar
1  81157374        1  Grammy
2  80192187        2   Oscar

In [40]:
movie_data=pd.merge(movies_data,movies_award, left_on="movieID", right_on="movieID")
movie_data

,movieID,title,releaseDate,gender,participantName,roleparticipant,IdAward,Award
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy

Insertamos estos valores en la tabla movies del datawarehouse

In [47]:
from sqlalchemy import create_engine, MetaData, Table, Date
from sqlalchemy.orm import sessionmaker
from datetime import date

# Replace these values with your actual database connection details
DATABASE_URL = "mysql+mysqlconnector://root:root@192.168.18.6:3310/dw_netflix"

engine = create_engine(DATABASE_URL)

metadata = MetaData()

In [48]:


dimMovie= Table('dimMovie', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,movie in movie_data.iterrows():
    print(i)
    # Sample data to insert
    data_to_insert = {
        "movieID": movie["movieID"],
        "title": movie["title"],
        "releaseMovie": movie["releaseDate"],
        "gender": movie["gender"],
        "participantName": movie["roleparticipant"],
        "roleparticipant": movie["roleparticipant"],
        "awardMovie": movie["Award"],
    }

    try:
        # Insert data into the table
        ins = dimMovie.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

0
<sqlalchemy.engine.base.Connection object at 0xffff4c1ba100>
se envió el commit a la base  de datos
1
<sqlalchemy.engine.base.Connection object at 0xffff4c1ba100>
se envió el commit a la base  de datos
2
<sqlalchemy.engine.base.Connection object at 0xffff4c1ba100>
se envió el commit a la base  de datos

In [49]:
# Close the connection
conn.close()

## Insertamos valores para dimUser, extrayendo los datos del csv de usuarios

In [50]:
users=pd.read_csv("../data/users.csv", sep='|')
users

      idUser     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [ ]:
users["subscription"]

Para los usuarios solo necesitaremos los Ids

Insertamos al datawarehouse

In [51]:
dimUser= Table('dimUser', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,user in users.iterrows():
    # Sample data to insert
    data_to_insert = {
        "userID": user["idUser"],
        "username": user["username"],
        "country": user["country"],
        "subscription": user["subscription"]
    }

    try:
        # Insert data into the table
        ins = dimUser.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c1c21f0>
se envió el commit a la base  de datos

## Insertar datos a la tabla de Hechos

Para ello vamos a crear nuestra estructura en base a la base de datos ratings.csv.

- recordar que necesitamos 4 columnas:
1. idUser	
2. movieID	
3. rating	
4. timestamp

Vamos a generar aleatoriamente los datos la vista de un usuario sobre las películas

In [52]:
users_id=users["idUser"]
movies_id=movies_data["movieID"]

In [54]:
watchs_data=pd.merge(users_id,movies_id, how="cross")
watchs_data

      idUser   movieID
0    1002331  80192187
1    1002331  80210920
2    1002331  81157374
3    1002332  80192187
4    1002332  80210920
5    1002332  81157374
6    1002333  80192187
7    1002333  80210920
8    1002333  81157374
9    1002334  80192187
10   1002334  80210920
11   1002334  81157374
12   1002335  80192187
13   1002335  80210920
14   1002335  81157374
15   1002336  80192187
16   1002336  80210920
17   1002336  81157374
18   1002337  80192187
19   1002337  80210920
20   1002337  81157374
21   1002338  80192187
22   1002338  80210920
23   1002338  81157374
24   1002339  80192187
25   1002339  80210920
26   1002339  81157374
27  10023310  80192187
28  10023310  80210920
29  10023310  81157374
30  10023311  80192187
31  10023311  80210920
32  10023311  81157374
33  10023312  80192187
34  10023312  80210920
35  10023312  81157374
36  10023313  80192187
37  10023313  80210920
38  10023313  81157374
39  10023314  80192187
40  10023314  80210920
41  10023314  81157374
42  10023315  80192187
43  10023315  80210920
44  10023315  81157374
45  10023316  80192187
46  10023316  80210920
47  10023316  81157374
48  10023317  80192187
49  10023317  80210920
50  10023317  81157374
51  10023318  80192187
52  10023318  80210920
53  10023318  81157374
54  10023319  80192187
55  10023319  80210920
56  10023319  81157374
57  10023320  80192187
58  10023320  80210920
59  10023320  81157374

In [55]:
import random
from datetime import datetime, timedelta
import random

def gen_rating():
    # Generar un número aleatorio entre 0 y 5 con 1 solo decimal
    numero_aleatorio = round(random.uniform(0, 5), 1)
    # Mostrar el número aleatorio
    return numero_aleatorio

def gen_timestamp():
    # Generar un timestamp aleatorio dentro de un rango específico
    start_date = datetime(2024, 1, 15)
    end_date = datetime(2024, 2, 12)

    # Calcular un valor aleatorio entre start_date y end_date
    random_date = start_date + timedelta(seconds=random.randint(0, int((end_date - start_date).total_seconds())))

    # Mostrar el timestamp aleatorio
    return random_date

In [56]:
watchs_data["rating"]=watchs_data["movieID"].apply(lambda x: gen_rating())
watchs_data["timestamp"]=watchs_data["idUser"].apply(lambda x: gen_timestamp())

In [57]:
watchs_data

      idUser   movieID  rating           timestamp
0    1002331  80192187     2.8 2024-01-23 11:04:34
1    1002331  80210920     1.6 2024-02-10 07:52:24
2    1002331  81157374     4.5 2024-01-21 11:10:37
3    1002332  80192187     1.0 2024-01-27 03:58:13
4    1002332  80210920     4.1 2024-01-17 11:42:23
5    1002332  81157374     3.5 2024-02-07 17:13:11
6    1002333  80192187     1.0 2024-01-29 09:39:04
7    1002333  80210920     3.3 2024-02-10 22:04:16
8    1002333  81157374     2.2 2024-01-29 03:14:37
9    1002334  80192187     5.0 2024-01-16 22:50:46
10   1002334  80210920     4.2 2024-02-09 20:49:47
11   1002334  81157374     4.2 2024-01-31 03:27:35
12   1002335  80192187     0.3 2024-02-07 07:35:54
13   1002335  80210920     3.6 2024-01-17 04:05:41
14   1002335  81157374     2.8 2024-01-22 18:56:15
15   1002336  80192187     4.2 2024-02-10 01:23:35
16   1002336  80210920     0.3 2024-01-28 09:26:58
17   1002336  81157374     4.2 2024-01-16 17:06:07
18   1002337  80192187     4.4 2024-02-02 21:20:04
19   1002337  80210920     4.8 2024-01-19 15:06:04
20   1002337  81157374     0.7 2024-02-03 13:43:36
21   1002338  80192187     4.3 2024-01-25 11:22:31
22   1002338  80210920     1.5 2024-01-22 22:44:43
23   1002338  81157374     1.0 2024-01-22 15:58:46
24   1002339  80192187     3.8 2024-01-26 00:02:08
25   1002339  80210920     0.3 2024-01-17 18:57:23
26   1002339  81157374     1.8 2024-01-29 08:04:08
27  10023310  80192187     3.4 2024-02-02 13:21:59
28  10023310  80210920     1.0 2024-02-04 14:33:22
29  10023310  81157374     1.2 2024-01-26 13:05:48
30  10023311  80192187     1.7 2024-01-18 05:44:17
31  10023311  80210920     1.4 2024-01-17 17:15:01
32  10023311  81157374     1.4 2024-01-20 15:29:36
33  10023312  80192187     1.8 2024-01-25 21:17:31
34  10023312  80210920     4.5 2024-01-29 07:26:58
35  10023312  81157374     1.7 2024-02-07 19:37:24
36  10023313  80192187     0.2 2024-02-02 17:46:44
37  10023313  80210920     3.1 2024-02-04 11:38:28
38  10023313  81157374     1.2 2024-02-02 20:40:38
39  10023314  80192187     2.7 2024-01-17 17:03:54
40  10023314  80210920     4.7 2024-02-05 08:03:46
41  10023314  81157374     2.0 2024-02-03 05:29:51
42  10023315  80192187     3.5 2024-02-05 12:45:33
43  10023315  80210920     1.3 2024-02-05 10:44:35
44  10023315  81157374     1.9 2024-01-16 19:49:32
45  10023316  80192187     1.1 2024-02-05 15:26:00
46  10023316  80210920     0.7 2024-02-05 21:07:15
47  10023316  81157374     0.3 2024-01-19 00:10:45
48  10023317  80192187     2.4 2024-01-24 20:53:41
49  10023317  80210920     2.6 2024-01-23 13:07:30
50  10023317  81157374     4.8 2024-01-17 08:46:59
51  10023318  80192187     0.7 2024-01-27 21:44:13
52  10023318  80210920     3.0 2024-01-28 05:00:22
53  10023318  81157374     1.9 2024-02-02 15:48:46
54  10023319  80192187     1.4 2024-02-09 06:15:14
55  10023319  80210920     0.1 2024-01-30 02:30:29
56  10023319  81157374     1.0 2024-02-07 19:09:38
57  10023320  80192187     3.0 2024-01-28 01:14:06
58  10023320  80210920     1.1 2024-01-16 19:31:41
59  10023320  81157374     1.5 2024-01-24 18:35:52

Cargar los datos a la tabla de hechos

In [59]:
FactWatchs= Table('FactWatchs', metadata, autoload_with=engine)

# Create a connection to the database
conn = engine.connect()



for i,watch in watchs_data.iterrows():
    # Sample data to insert
    data_to_insert = {
        "userID": watch["idUser"],
        "movieID": watch["movieID"],
        "rating": watch["rating"],
        "timestamp": watch["timestamp"],
    }

    try:
        # Insert data into the table
        ins = FactWatchs.insert().values(data_to_insert)
        conn.execute(ins)
        print(conn)

        # Commit the transaction
        conn.commit()
        print("se envió el commit a la base  de datos")

    except Exception as e:
        
        print(data_to_insert)
        # Handle exceptions
        print(f"Error: {e}")
        # Rollback the transactio

# Close the connection
conn.close()

{'userID': 1002331, 'movieID': 80192187, 'rating': 2.8, 'timestamp': Timestamp('2024-01-23 11:04:34')}
Error: (mysql.connector.errors.OperationalError) MySQL Connection not available.
[SQL: INSERT INTO `FactWatchs` (`userID`, `movieID`, rating, timestamp) VALUES (%(userID)s, %(movieID)s, %(rating)s, %(timestamp)s)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos
<sqlalchemy.engine.base.Connection object at 0xffff4c0689a0>
se envió el commit a la base  de datos

In [ ]:
conn = engine.connect()
hechos_data=pd.read_sql('SELECT * FROM dimMovie', con=conn) 
hechos_data